# Execute it as a markdown cell
# H1: In this notebook, Data Science Tools and Ecosystem are summarized.

## Execute as a markdown cell
__In this notebook, Data Science Tools and Ecosystem are summarized.__

## Execute as a markdown cell

## H2: Some of the commonly used libraries used by Data Scientists include:

1. Python
2. R
3. Scala
4. Java

## Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow

| Data Science Tools |
| ------------------  |
| Apache Spark |
| TensorFlow |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

__Objectives__:

* Python
* R
* SQL
* Julia
* Javascript